/* css styles */

/*---gallery---*/
.sketchnote {
	type: image/svg+xml;
	width: 100%;
	style: "border: solid black"
}


/*---cv---*/

.cvdate {
  float: right;
  font-style: italic
}

.cell-output {
  background-color: #f0f0f0; /* a light gray background */
  padding: 15px; /* add some space around the output */
  border-radius: 5px; /* round the corners */
}